* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #FFF;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label{
  color: #cdd6f4;
}

#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  border: 0px;
}

#cpu, #window, #temperature, #backlight, #tray, #workspaces, #clock {
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-light_dark, #clock {
  margin-right: 10px;
}

#disk, #workspaces, #window, #clock, #battery, #pulseaudio.microphone, #custom-light_dark {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button {
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #FFF;
}

#workspaces button.focused {
  color: #FFF;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  color: #cdd6f4;
}

#temperature.critical {
  color: #e92d4d;
}
